@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.font-playfair {
  font-family: var(--font_playfair), serif;
}

.font-lato {
  font-family: var(--font_lato), sans-serif;
}





